.test {
  height: 98vh;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.histDiv {
  width: 33%;
  /* height: 96vh; */
  display: flex;
  flex-direction: column;
}

.detailDiv {
  width: 82%;
  /* height: 98vh; */
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.title {
  /* height: 8vh; */
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: start;
  align-items: center;
}

.histo {
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  background-color: #001d3d;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
  overflow:scroll
}

.detail {
  height: 100%;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
}

.search {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
  /* padding-top: 6px; */
  background-color: red;
}

.header {
  height: 8vh;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: end;
  align-items: center;
}

.description {
  height: 82vh;
  width: 90%;
  /* background-color: red; */
  padding: 20px;
  overflow:scroll
}

.p {
  font-size: 20px;
  font-weight: 900;
  padding-left: 2px;
}

.divider{
  height: 1px;
  width: 100%;
  background-color:rgb(171, 171, 171) ;
}