.h2 {
  font-size: 1.75rem;
  font-weight: 900;
}
.h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.textCapitalize {
  text-transform: capitalize;
}
.borderBottom {
  border-bottom: solid 1px #EEE;
}

.main {
  width: 100%;
  height: 90vh;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containerFullWidth {
  height: 85%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

/**
 * SIDEBAR
 */
.sidebar {
  width: 33.3333333333%;
  /* height: 96vh; */
  display: flex;
  flex-direction: column;
}

.histo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  /* font-size: 20px; */
  /* font-weight: 700; */
  overflow: scroll;
}

/**
 * RESULTAT DE LA RECHERCHE
 */
.detailDiv {
  width: 66.6666666666%;
  display: flex;
  flex-direction: column;
}

.detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.description {
  height: 100%;
  background-color: white;
  padding: 20px;
  overflow: scroll;
}

/**
 * SEARCH
 */
.search {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(171, 171, 171);
}

/*
 * COLORS HELPER
  */
.color000814 {
  color: #000814;
}
.color001D3D {
  color: #001d3d;
}
.color003566 {
  color: #003566;
}
.colorFFC300 {
  color: #ffc300;
}
.colorDDF60A {
  color: #ffd60a;
}
.colorWhite {
  color: white;
}
.backgroundColor000814 {
  background-color: #000814;
}
.backgroundColor001D3D {
  background-color: #001d3d;
}
.backgroundColor003566 {
  background-color: #003566;
}
.backgroundColorFFC300 {
  background-color: #ffc300;
}
.backgroundColorFFD60A {
  background-color: #ffd60a;
}
.backgroundColorWhite {
  background-color: white;
}
